{% extends 'base.html.twig' %}
{% form_theme formulaire 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="container position mb-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Nouveau Projet :</div>
                    <div class="card-body">
                        {{ form_start(formulaire, {'attr': {'class': 'form'}}) }}

                        <div class="mb-3">
                            {{ form_label(formulaire.name, 'Film', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(formulaire.name, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(formulaire.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(formulaire.description, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(formulaire.price, 'Prix', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(formulaire.price, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(formulaire.salle, 'Salle', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(formulaire.salle, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="">
                            {{ form_label(formulaire.image, 'Image', {'label_attr': {'class': 'form-label required'}}) }}
                            {{ form_widget(formulaire.image, {'attr': {'class': 'form-control', 'placeholder': 'Your text goes here, also you can optionally upload an image'}}) }}
                        </div>

                        <button type="submit" class="btn btn-success mt-3">Ajouter <i class="bi bi-file-earmark-plus"></i></button>
                        {{ form_end(formulaire) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
