{% extends 'base.html.twig' %}

{% block title %}Réservation - {{ film.name }}{% endblock %}

{% block body %}
    <div class="position">
        <h1 class="text-center">Réserver une place pour <span class="text-white">{{ film.name }}</span></h1>

        <div class="mt-5">
            <form method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-white">Places disponibles :</h2>
                        </div>
                        {% for place in places %}
                            {% if not place.isReserved %}
                                <div class="col-1 mb-3 mt-3">
                                    <button type="submit" name="place_id" value="{{ place.id }}" class="btn btn-success place-button">
                                        {{ place.number }} (Libre)
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row mt-4 mb-5">
                        <div class="col-12">
                            <h2 class="text-white">Places réservées :</h2>
                        </div>
                        {% for place in places %}
                            {% if place.isReserved %}
                                <div class="col-1 mb-3 mt-3">
                                    {% if place.isReservedByUser(app.user) %}
                                        <button type="submit" name="place_id" value="{{ place.id }}" class="btn btn-danger place-button">
                                            {{ place.number }} (Réservé par vous)
                                        </button>
                                    {% else %}
                                        <button type="submit" name="place_id" value="{{ place.id }}" class="btn btn-danger place-button" disabled>
                                            {{ place.number }} (Déjà réservé)
                                        </button>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
