{% extends 'base.html.twig' %}

{% block title %}{{ film.name }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 position">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ film.name }}</h5>
                        <p class="card-text">{{ film.description }}</p>

                        <div>
                            {% if app.user == film.author %}
                            <a class="btn btn-danger" href="{{ path('app_delete', {id:film.id} ) }}"><i class="bi bi-trash"></i> Supprimer</a>
                            <a class="btn btn-warning" href="{{ path('app_edit', {id:film.id} ) }}"><i class="bi bi-pencil-square"></i> Modifier</a>
                            {% endif %}

                            <a href="{{ path('app_films')}}" class="btn btn-secondary">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
