
{% if app.user %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top justify-content-center bg-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Partiel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_films') }}">Films</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_create') }}">Créer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_salle') }}">Salle</a>
                    </li>
                    {% endif %}

                    <a href="{{ path('app_profile') }}" class="nav-link text-warning">{{ app.user.username }}</a>

                </ul>
                <a href="{{ path('app_logout') }}" class="btn btn-danger"><i class="bi-power" style="font-size: 1.2rem; font-weight:bold; color: white;"></i></a>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top justify-content-center bg-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Partiel</a>
            <div class="ms-auto d-flex">
                <a href="{{ path('app_register') }}" class="btn btn-vert text-white me-2">S'inscrire</a>
                <a href="{{ path('app_login') }}" class="btn text-white">Se connecter</a>
            </div>
        </div>
    </nav>
{% endif %}
